doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title 直角
  body
    .self-introduction
      h1 直角
      p 個人で作ったWebアプリケーションを公開しています。
    .productions
      

    section#profile
      h1 直角のプロフィール
      p Webアプリの個人開発をします。文章系のWebアプリに興味があります。
    section#links
      ul
        li scrapbox